#jinja2: lstrip_blocks: True, trim_blocks: True
[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kube-apiserver
After=network.target network-online.target etcd.service
Wants=network-online.target
Requires=etcd.service

[Service]
Type=notify
ExecStart={{ __control_plane_kube_apiserver_binary }} \
  --advertise-address="{{ control_plane_node_private_ip }}" \
  --allow-privileged="true" \
  --alsologtostderr="true" \
  --apiserver-count="{{ control_plane_kubernetes_cluster_master_ips.split(',') | length }}" \
  --audit-log-maxage="30" \
  --audit-log-maxbackup="3" \
  --audit-log-maxsize="100" \
  --audit-log-path="/var/log/audit.log" \
  --authorization-mode="Node,RBAC" \
  --bind-address="0.0.0.0" \
  --client-ca-file="{{ __control_plane_pki_ca_cert_file }}" \
  --enable-admission-plugins="NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,TaintNodesByCondition,Priority,DefaultTolerationSeconds,DefaultStorageClass,StorageObjectInUseProtection,PersistentVolumeClaimResize,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota" \
  --etcd-cafile="{{ __control_plane_pki_ca_cert_file }}" \
  --etcd-certfile="{{ __control_plane_pki_kube_apiserver_cert_file }}" \
  --etcd-keyfile="{{ __control_plane_pki_kube_apiserver_key_file }}" \
  --etcd-servers="{{ _etcd_cluster_nodes }}" \
  --event-ttl="1h" \
  --encryption-provider-config="{{ __control_plane_encryption_config_file }}" \
  --kubelet-certificate-authority="{{ __control_plane_pki_ca_cert_file }}" \
  --kubelet-client-certificate="{{ __control_plane_pki_kube_apiserver_cert_file }}" \
  --kubelet-client-key="{{ __control_plane_pki_kube_apiserver_key_file }}" \
  --kubelet-https="true" \
  --kubelet-preferred-address-types="InternalIP,ExternalIP,Hostname" \
  --log-file="/var/log/{{ __control_plane_kube_apiserver_service }}.log" \
  --log-file-max-size="100" \
  --runtime-config="api/all=true" \
  --service-account-key-file="{{ __control_plane_pki_service_account_pub_file }}" \
  --service-cluster-ip-range="{{ control_plane_kubernetes_cluster_services_cidr }}" \
  --service-node-port-range="30000-32767" \
  --tls-cert-file="{{ __control_plane_pki_kube_apiserver_cert_file }}" \
  --tls-min-version="VersionTLS12" \
  --tls-private-key-file="{{ __control_plane_pki_kube_apiserver_key_file }}" \
  --v="2"
TimeoutStartSec=600
TimeoutStopSec=60
Restart=always
RestartSec=10s
KillMode=process
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
Alias={{ __control_plane_kube_apiserver_service }}.service
